/* MadCap Table Style: */

/*<meta Version="9" conditions="Products.All-Products-Plus-Doc-Bible" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Light-Gray-Rows;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 10;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	name: Regular;
	id: 0;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
	background-color: #45494c;
	name: Header1;
	id: 2;
	size: 100%;
	cell-content-style-class: TableTextHead;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: LightRows;
	background-color: #f3f4f4;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
	cell-content-style-class: TableText;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	id: 10;
	name: MidTableHeader;
	type: Manual;
	background-color: #1d3a40;
}

mcTableFootStyle
{
	span: 1;
	separator-widte: 1px;
	name: Footer1;
	id: 3;
	background-color: #45494c;
	cell-content-style-class: TableTextFootnote;
	cell-content-style-tag: p;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-Light-Gray-Rows
{
	border-collapse: separate;
	overflow: hidden;
	border-spacing: 0px 0px;
}

.TableStyle-Light-Gray-Rows-Column-Regular
{
	
}

.TableStyle-Light-Gray-Rows-Column-DarkShade
{
	
}

.TableStyle-Light-Gray-Rows-Head-Header1
{
	height: 100%;
}

.TableStyle-Light-Gray-Rows-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadI-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadE-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadF-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadH-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadD-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadC-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadB-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadA-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadG-Regular-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadI-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadE-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadF-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadH-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-HeadD-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadC-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadB-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadA-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-HeadG-DarkShade-Header1 p
{
	
}

.TableStyle-Light-Gray-Rows-Foot-Footer1
{
	
}

.TableStyle-Light-Gray-Rows-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootI-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootE-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootF-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootH-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootD-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootC-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootB-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootA-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootG-Regular-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
	border-top-width: 3px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-Light-Gray-Rows-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #45494c;
}

.TableStyle-Light-Gray-Rows-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-Light-Gray-Rows-Body-LightRows
{
	
}

.TableStyle-Light-Gray-Rows-BodyI-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
}

.TableStyle-Light-Gray-Rows-BodyI-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyE-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyE-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyF-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyF-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyH-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyH-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyD-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyD-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyC-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
}

.TableStyle-Light-Gray-Rows-BodyC-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyB-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyB-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyA-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
}

.TableStyle-Light-Gray-Rows-BodyA-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyG-Regular-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f3f4f4;
}

.TableStyle-Light-Gray-Rows-BodyG-Regular-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyI-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyI-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyE-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyE-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyF-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyF-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyH-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyH-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyD-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyD-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyC-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyC-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyB-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyB-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyA-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyA-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-BodyG-DarkShade-LightRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyG-DarkShade-LightRows p
{
	
}

.TableStyle-Light-Gray-Rows-Body-MidTableHeader
{
	
}

.TableStyle-Light-Gray-Rows-BodyI-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyI-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyE-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyE-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyF-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyF-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyH-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyH-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyD-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyD-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyC-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyC-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyB-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyB-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyA-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyA-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyG-Regular-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1d3a40;
}

.TableStyle-Light-Gray-Rows-BodyG-Regular-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyI-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyI-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyE-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyE-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyF-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyF-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyH-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyH-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyD-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyD-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyC-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyC-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyB-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Light-Gray-Rows-BodyB-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyA-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyA-DarkShade-MidTableHeader p
{
	
}

.TableStyle-Light-Gray-Rows-BodyG-DarkShade-MidTableHeader
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-Light-Gray-Rows-BodyG-DarkShade-MidTableHeader p
{
	
}


